.navBar {
  display: flex;
  flex-direction: row;
  background-color: rgb(208, 127, 127);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(0, 0, 0);
  align-items: center;
  min-height: 40px;
  padding-left: 25px;
  font-size: large;
}


.cart-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}


.cart-num {
  background-color: rgb(255, 255, 255);
  color: rgb(57, 0, 43);
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}


.all-products {
  display: flex;
  margin: 60px;
}


.card {
  border-style: solid;
  border-width: 4px;
  border-color: rgb(175, 82, 82);
  border-radius: 30px;
  max-width: 250px;
}


.card-img-top {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}


.card-body {
  margin: 10px;
}


.btn {
  background-color: rgb(144, 20, 115);
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  border-radius: 3px;
  border-width: 0px;
}


a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}


.cart-container {
  margin: 20px;
}


.card-cart {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 500px;
}


.card-img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
body {
  background-color: rgb(189, 161, 161);
}
